#To interact with ETH 
ETHEREUM_RPC=<ethereum_rpc_url> #as given by your rpc
ETHERSCAN_API_KEY=<etherscan_api_key> #as given by etherscan

ETHEREUM_PRIVATE_KEY=<ethereum_private_key> #in hexa with the 0x prefix
STARKNET_MESSAGING_ADDRESS=<0xde29d060D45901Fb19ED6C6e959EB22d8626708e|0xE2Bb56ee936fd6433DC0F6e7e3b8365C906AA057|0xc662c410C0ECf747543f5bA90660f6ABeBD9C8c4> # Goerli | Sepolia | Mainnet
MM_ETHEREUM_WALLET_ADDRESS=<MarketMaker_ethereum_contract_address> #in hexa with the 0x prefix

ZKSYNC_DIAMOND_PROXY_ADDRESS=<0x9A6DE0f62Aa270A8bCB1e2610078650D539B1Ef9> # Sepolia

STARKNET_CLAIM_PAYMENT_SELECTOR=<0x03636c566f6409560d55d5f6d1eb4ee163b096b4698c503e69e210be79de2afa> #hex value of starknet's claim_payment selector
ZKSYNC_CLAIM_PAYMENT_SELECTOR=<0xa5168739> #hex value of ZKSync's claim_payment selctor

STARKNET_CHAIN_ID=<0x534e5f5345504f4c4941|0x534e5f4d41494e> #Sepolia | Mainnet
ZKSYNC_CHAIN_ID=<300|324> # Sepolia | Mainnet
