# To deploy Starknet contract 

## Starkli
STARKNET_ACCOUNT=<starkli_account_path>
STARKNET_KEYSTORE=<starkli_keystore_path>
SN_RPC_URL=<starknet_rpc_url>

## Required envs for Escrow Contract
SN_ESCROW_OWNER=<starknet_escrow_owner>  #in lowercase hexa with the 0x prefix
ETH_CONTRACT_ADDR=<ethereum_contract_address> #in hexa with the 0x prefix, with upper and lower cases like shown by etherscan
MM_SN_WALLET_ADDR=<MarketMaker_starknet_contract_address> #in lowercase hexa with the 0x prefix
WITHDRAW_NAME=<withdraw_function_name> #must match the exact name of the function that withdraws from the starknet smart contract
HERODOTUS_FACTS_REGISTRY=<0x01b2111317EB693c3EE46633edd45A4876db14A3a53ACDBf4E5166976d8e869d|0x07d3550237ecf2d6ddef9b78e59b38647ee511467fe000ce276f245a006b40bc|0x014bf62fadb41d8f899bb5afeeb2da486fcfd8431852def56c5f10e45ae72765> # Goerli | Sepolia | Mainnet
MM_ETHEREUM_WALLET=<MarketMaker_ethereum_contract_address> #in lowercase hexa with the 0x prefix
NATIVE_TOKEN_ETH_STARKNET=<eth_erc20_in_starknet> #in lowercase hexa with the 0x prefix

# To upgrade Starknet contract 
ESCROW_CONTRACT_ADDRESS=<ESCROW_CONTRACT_ADDRESS> #this value is automatically updated after deploy.sh is run
